.main_container {
  margin: 1rem;
  overflow: hidden;
}

.list_style {
  width: 100%;
  text-align: center;
}
.location{
  height: 18rem;
  background-color: #073241;
  margin: 1rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  color: #fff;
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;

  @media (min-width: 500px) {
    margin: 1.5rem; // Desktop view
  }
}