.main_container {
  margin: 1rem;
  overflow: hidden;
}

.list_style {
  width: 100%;
  text-align: center;
}

.location {
  padding: 1rem;
  display: flex;
  justify-content: center;
  &__container {
    height: 16rem;
    background-color: #073241;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    color: #fff;
    font-weight: 900;
    font-size: 1.8rem;
    text-align: center;
    cursor: pointer;
    box-shadow: inset 0 0 4px #7996a3;
    .icon {
      font-size: 2.5rem;
      padding-bottom: 1rem;
      color: rgb(146, 179, 194);
    }
  }

  &__item {
    height: 16rem;
    border: 1px solid #aaa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    cursor: pointer;
    color: #aaa;
    border-radius: 2rem;
  }
}

@media (min-width: 600px) {
  .location {
    &__container {
      margin: 1rem;
    }

    &__item {
      margin: 1rem;
    }
  }
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
