<retailer-navigation></retailer-navigation>

<div class="main_container main_content_container">
  <h2 class="main_content_title">Locations</h2>
  <div nz-row [nzGutter]="[{ xs: 8, sm: 16, md: 24, lg: 32 }, 24]" style="padding: 1rem">
    <div
      nz-col
      [nzXs]="24"
      [nzSm]="12"
      [nzMd]="6"
      [nzLg]="5"
      class="location__container"
      *ngFor="let location of locations"
    >
      <span>{{ location?.phoneNumber }}</span
      ><span>{{ location?.description }}</span>
    </div>
    <div
      (click)="addLocation()"
      nz-col
      [nzXs]="24"
      [nzSm]="12"
      [nzMd]="6"
      [nzLg]="5"
      class="location__item"
    >
      <i nz-icon nzType="plus" nzTheme="outline" style="font-size: 8rem; color: #aaa"></i>
      <span>Add Other Location</span>
    </div>
  </div>
</div>
