<div class="container">
  <!-- <i nz-icon nzType="left" class="left-arrow" nzTheme="outline"></i>Back -->
  <div class="container-logo">
    <div class="avatar">
      <div class="name">
        {{ consumer.name }}
      </div>
    </div>
  </div>
  <div class="content">
    <div class="content-section">
      <span class="title">Company Name</span>
      <span *ngIf="!name" class="value">{{ consumer.name }}</span>
      <div class="form-container" *ngIf="editMode && name">
        <form
          action=""
          method="post"
          class="form"
          [formGroup]="companyForm"
          #formDirective="ngForm"
          (ngSubmit)="onSubmit(formDirective)"
        >
          <nz-form-item>
            <span>Your company name is the same as your shop Name : </span>
            <!-- <nz-form-label nzFor="name">Company Name</nz-form-label> -->
            <input class="form__input" formControlName="name" nz-input placeholder="Company Name" />
          </nz-form-item>
          <div *ngIf="error" style="text-align: center; margin-bottom: 1rem">
            <nz-space nzDiration="vertical">
              <nz-space-item>
                <span nz-typography nzType="danger">{{ error }}</span>
              </nz-space-item>
            </nz-space>
          </div>
          <div class="form__action">
            <button nz-button nzType="danger" (click)="onCancel()">Cancel</button>
            <button nz-button nzType="primary">Save</button>
          </div>
        </form>
      </div>
      <a *ngIf="!name" (click)="editModeOpen('name')">Edit</a>
    </div>
    <div class="content-section">
      <span class="title">Tin Number</span>
      <span *ngIf="!tinNumber" class="value">{{ consumer.tinNumber }}</span>
      <div class="form-container" *ngIf="editMode && tinNumber">
        <form
          action=""
          method="post"
          class="form"
          [formGroup]="companyForm"
          #formDirective="ngForm"
          (ngSubmit)="onSubmit(formDirective)"
        >
          <nz-form-item>
            <nz-form-label nzFor="tinNumber">Tin Number</nz-form-label>
            <input
              class="form__input"
              formControlName="tinNumber"
              nz-input
              placeholder="Tin Number"
            />
          </nz-form-item>

          <div class="form__action">
            <button nz-button nzType="danger" (click)="onCancel()">Cancel</button>
            <button nz-button nzType="primary">Save</button>
          </div>
        </form>
      </div>
      <a *ngIf="!tinNumber" (click)="editModeOpen('tinNumber')">Edit</a>
    </div>

    <div class="content-section">
      <span class="title">Office Phone Number</span>
      <span *ngIf="!phoneNumber" class="value">{{ consumer.phoneNumber }}</span>
      <div class="form-container" *ngIf="editMode && phoneNumber">
        <form
          action=""
          method="post"
          class="form"
          [formGroup]="companyForm"
          #formDirective="ngForm"
          (ngSubmit)="onSubmit(formDirective)"
        >
          <nz-form-item>
            <nz-form-label nzFor="phoneNumber">Phone Number</nz-form-label>
            <nz-form-control
              nzErrorTip="Phone number is not valid"
              [nzValidateStatus]="
                f['phoneNumber'].invalid && f['phoneNumber'].touched ? 'error' : ''
              "
            >
              <nz-input-group nzAddOnBefore="+251">
                <input formControlName="phoneNumber" nz-input placeholder="borderless" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>

          <div class="form__action">
            <button nz-button nzType="danger" (click)="onCancel()">Cancel</button>
            <button nz-button nzType="primary">Save</button>
          </div>
        </form>
      </div>
      <a *ngIf="!phoneNumber" (click)="editModeOpen('phoneNumber')">Edit</a>
    </div>
  </div>
</div>
