<div
  *ngIf="mobileType == 'android'"
  style="display: flex; justify-content: space-between; max-width: 600px"
>
  <button
    nz-button
    nzType="link"
    (click)="installPwa()"
    style="padding: 0.5rem 2rem; color: #073241; font-size: 1.8rem"
  >
    Add To Home Screen
  </button>
  <button nz-button nzType="text" (click)="destroyModal()">
    <i nz-icon nzType="close-circle" nzTheme="outline"></i>
  </button>
</div>

<div
  *ngIf="mobileType == 'ios'"
  style="display: flex; justify-content: space-between; max-width: 600px"
>
  <div>
    To install this web app on your device tap the Menu button and then 'Add to Home screen' button
  </div>
  <button nz-button nzType="text" (click)="destroyModal()">
    <i nz-icon nzType="close-circle" nzTheme="outline"></i>
  </button>
</div>
