.form {
  &__container {
    width: 95%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.side {
  display: none;
  overflow: hidden;
  position: relative;

  &__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    // margin-left: 1rem;
  }
}

.register {
  &__form {
    width: 100%;
  }

  &__input-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__input {
    width: 100%;
    // color: #169dce;
  }
}

@media screen and (min-width: 600px) {
  .form {
    &__container {
      width: 60%;
    }
  }
}

@media screen and (min-width: 700px) {
  .side {
    display: flex;
  }
}

@media screen and (min-width: 900px) {
  .form {
    &__container {
      width: 45%;
    }
  }

  .side {
    &__logo {
      margin-left: 7rem;
    }
  }
}
