* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

a {
  text-decoration: none;
  cursor: pointer;
}
