html {
  font-size: 62.5%; //10px
  scroll-behavior: smooth;
}
body {
  font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue,Fira Sans,sans-serif!important;
}

// @media only screen and (min-width: 320px) {
//   html {
//     font-size: 45.5%;
//   }
// }
// @media only screen and (min-width: 480px) {
//   html {
//     font-size: 48%;
//   }
// }
// @media only screen and (min-width: 600px) {
//   html {
//     font-size: 50%;
//   }
// }
// @media only screen and (min-width: 801px) {
//   html {
//     font-size: 58.5%;
//   }
// }
// @media only screen and (min-width: 950px) {
//   html {
//     font-size: 62.5%;
//   }
// }
// @media only screen and (min-width:1025px) {
//     /* big landscape tablets, laptops, and desktops */
// }
// @media only screen and (min-width:1281px) {
//     /* hi-res laptops and desktops */
// }
