<div>
  <form
    nz-form
    [nzLayout]="'vertical'"
    [formGroup]="depositForm"
    action="POST"
    class="deposit__form"
  >
    <div *ngIf="error" style="text-align: center; margin-bottom: 1rem">
      <nz-space nzDiration="vertical">
        <nz-space-item>
          <span nz-typography nzType="danger">{{ error }}</span>
        </nz-space-item>
      </nz-space>
    </div>
    <nz-form-item>
      <nz-form-label nzRequired [nzSpan]="24" nzFor="message">Deposit Amount</nz-form-label>
      <nz-form-control
        [nzValidateStatus]="
          depositForm.controls['value'].invalid && depositForm.controls['value'].touched
            ? 'error'
            : ''
        "
        nzErrorTip="Invalid deposit amount, deposit must be greater than 10"
        class="deposit__input"
      >
        <input
          type="number"
          min="10"
          nz-input
          formControlName="value"
          name="value"
          placeholder="Deposit amount*"
        />
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
<div *nzModalFooter>
  <button nz-button nzType="default" (click)="destroyModal()">Cancel</button>
  <button nz-button nzType="primary" [nzLoading]="submitted" (click)="addDepositSubmit()">
    Add Deposit
  </button>
</div>
