<nav class="navigation">
  <!-- <img src="assets/img/logo.png" routerLink="/landing" alt="" class="navigation__logo" /> -->
  <div routerLink="/landing" style="display: flex; align-items: center; cursor: pointer">
    <img src="assets/img/logo.png" alt="" class="navigation__logo" />
    <span
      style="
        font-family: 'Big Shoulders Stencil Text', cursive;
        font-size: 4rem;
        text-transform: uppercase;
        color: #083443;
        margin-left: 1rem;
      "
      >Jimla</span
    >
  </div>
  <div class="navigation__actions">
    <nz-avatar [nzSize]="45" (click)="profileOpen()" nzIcon="user"></nz-avatar>

    <ul class="profile" *ngIf="profile" nz-menu>
      <!-- <li routerLink="/jm-admin/profile" nz-menu-item nz-tooltip nzTooltipPlacement="right">
        <i nz-icon nzType="user"></i>
        <span>Profile</span>
      </li>
      <li
        class="item"
        routerLink="/retailer/profile/company"
        nz-menu-item
        nz-tooltip
        nzTooltipPlacement="right"
      >
        <i nz-icon nzType="setting" nzTheme="fill"></i>
        <span>Settings</span>
      </li> -->
      <li (click)="logout()" nz-menu-item nz-tooltip nzTooltipPlacement="right">
        <i nz-icon nzType="logout"></i>
        <span>ውጣ</span>
      </li>
    </ul>
  </div>
</nav>
<div class="wrapper" [class.wrapper-collapse]="isCollapsed">
  <button
    nz-button
    nzType="primary"
    (click)="toggleCollapsed()"
    class="wrapper__button"
    [class.wrapper__button-open]="!isCollapsed"
  >
    <i
      nz-icon
      [nzType]="isCollapsed ? 'double-right' : 'double-left'"
      class="wrapper__button-icon"
    ></i>
  </button>
  <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">
    <li
      style="
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 0.5rem;
        margin-bottom: 2rem;
        border-bottom: 1px solid #aaa;
      "
    >
      <div routerLink="/landing" style="display: flex; align-items: center; cursor: pointer">
        <img src="assets/img/logo.png" alt="" class="navigation__logo" />
        <span
          style="
            font-family: 'Big Shoulders Stencil Text', cursive;
            font-size: 4rem;
            text-transform: uppercase;
            color: #083443;
            margin-left: 1rem;
          "
          >Jimla</span
        >
      </div>
    </li>
    <li
      [routerLink]="['/jm-admin']"
      [routerLinkActiveOptions]="{ exact: true }"
      [routerLinkActive]="['ant-menu-item-selected']"
      nz-menu-item
      nz-tooltip
      nzTooltipPlacement="right"
      routerLinkActive
      nzIcon="dashboard"
      (click)="collapse()"
    >
      <i nz-icon nzType="dashboard"></i>
      <span>Dashboard</span>
    </li>
    <li
      [routerLinkActiveOptions]="{ exact: false }"
      [routerLinkActive]="['ant-menu-item-selected']"
      nz-menu-item
      nz-tooltip
      routerLinkActive
      nzTooltipPlacement="right"
      [routerLink]="['/jm-admin/merchants']"
      nzIcon="insert-row-right"
      (click)="collapse()"
    >
      <i nz-icon nzType="insert-row-right"></i>
      <span>Merchants</span>
    </li>
    <li
      [routerLinkActiveOptions]="{ exact: false }"
      [routerLinkActive]="['ant-menu-item-selected']"
      nz-menu-item
      nz-tooltip
      routerLinkActive
      nzTooltipPlacement="right"
      [routerLink]="['/jm-admin/retailers']"
      nzIcon="user"
      (click)="collapse()"
    >
      <i nz-icon nzType="ordered-list"></i>
      <span>Retailers</span>
    </li>
    <li
      [routerLinkActiveOptions]="{ exact: false }"
      [routerLinkActive]="['ant-menu-item-selected']"
      nz-menu-item
      nz-tooltip
      routerLinkActive
      nzTooltipPlacement="right"
      [routerLink]="['/jm-admin/products']"
      nzIcon="appstore"
      (click)="collapse()"
    >
      <i nz-icon nzType="shop" nzTheme="outline"></i>
      <span>Products</span>
    </li>
    <li
      [routerLinkActiveOptions]="{ exact: false }"
      [routerLinkActive]="['ant-menu-item-selected']"
      nz-menu-item
      nz-tooltip
      routerLinkActive
      nzTooltipPlacement="right"
      [routerLink]="['/jm-admin/orders']"
      nzIcon="appstore"
      (click)="collapse()"
    >
      <i nz-icon nzType="shop" nzTheme="outline"></i>
      <span>Orders</span>
    </li>
    <li
      [routerLinkActiveOptions]="{ exact: false }"
      [routerLinkActive]="['ant-menu-item-selected']"
      nz-menu-item
      nz-tooltip
      routerLinkActive
      nzTooltipPlacement="right"
      [routerLink]="['/jm-admin/categories']"
      nzIcon="appstore"
      (click)="collapse()"
    >
      <i nz-icon nzType="user" nzTheme="outline"></i>
      <span>Categories</span>
    </li>
    <li
    [routerLinkActiveOptions]="{ exact: false }"
    [routerLinkActive]="['ant-menu-item-selected']"
    nz-menu-item
    nz-tooltip
    routerLinkActive
    nzTooltipPlacement="right"
    [routerLink]="['/jm-admin/profile']"
    nzIcon="appstore"
    (click)="collapse()"
  >
    <i nz-icon nzType="user" nzTheme="outline"></i>
    <span>Profile</span>
  </li>
  </ul>
</div>
