nz-select {
  width: 240px;
}
nz-divider {
  margin: 4px 0;
}
.container {
  display: flex;
  flex-wrap: nowrap;
  padding: 8px;
}

.add-item {
  flex: 0 0 auto;
  padding: 8px;
  display: block;
}

.register {
  &__form {
    width: 100%;
  }

  &__input-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__input {
    width: 100%;
    // color: #169dce;
  }
}

.dynamic-delete-button {
  cursor: pointer;
  position: relative;
  top: 4px;
  font-size: 24px;
  color: #999;
  transition: all 0.3s;
}

.dynamic-delete-button:hover {
  color: #777;
}

.passenger-input {
  width: 60%;
  margin-right: 8px;
}
.add-phone{
  position: absolute;
  top:1rem;
  right:0;
  margin:2rem;
}
.tag{
  padding:1rem 0rem;
}
.phone-tag{
  margin:0.5rem;
}
