<div class="form__container">
  <!-- <h2 style="font-size: 2.5rem" id="form_title">Add Location</h2> -->
  <form
    nz-form
    [nzLayout]="'vertical'"
    [formGroup]="locationForm"
    action="POST"
    class="register__form"
  >
    <div nz-row class="register__input-wrapper">
      <nz-form-item class="register__input" nz-col [nzSm]="24" [nzMd]="11">
        <nz-form-label nzRequired [nzSpan]="24" nzFor="phoneNumber">Phone Number</nz-form-label>
        <nz-form-control
          nzErrorTip="Phone number is required"
          [nzValidateStatus]="
            controls['phoneNumber'].invalid && controls['phoneNumber'].touched ? 'error' : ''
          "
          class="register__input"
        >
          <nz-input-group>
            <input
              type="text"
              nz-input
              formControlName="phoneNumber"
              placeholder="Phone Number"
              name="phoneNumber"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <nz-form-item class="register__input">
      <nz-form-label nzRequired [nzSpan]="24" nzFor="description"
        >Address Description</nz-form-label
      >
      <nz-form-control
        [nzValidateStatus]="
          controls['description'].invalid && controls['description'].touched ? 'error' : ''
        "
        nzErrorTip="Address Description is required"
        class="register__input"
      >
        <input
          type="text"
          nz-input
          formControlName="description"
          name="description"
          placeholder="Address Description"
        />
      </nz-form-control>
    </nz-form-item>
    <div nz-row class="register__input-wrapper">
      <nz-form-item class="register__input" nz-col [nzSm]="24" [nzMd]="11">
        <nz-form-label nzRequired [nzSpan]="24" nzFor="city">City</nz-form-label>
        <nz-form-control
          [nzValidateStatus]="controls['city'].invalid && controls['city'].touched ? 'error' : ''"
          nzErrorTip="Product name is required"
          class="register__input"
        >
          <input type="text" nz-input formControlName="city" name="city" placeholder="City" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="register__input" nz-col [nzSm]="24" [nzMd]="11">
        <nz-form-label nzRequired [nzSpan]="24" nzFor="subCity">Sub city</nz-form-label>
        <nz-form-control
          nzErrorTip="Product subCity is required"
          [nzValidateStatus]="
            controls['subCity'].invalid && controls['subCity'].touched ? 'error' : ''
          "
          class="register__input"
        >
          <input
            type="text"
            nz-input
            formControlName="subCity"
            placeholder="Sub City"
            name="subCity"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </form>
</div>
<div *nzModalFooter>
  <button nz-button nzType="default" (click)="destroyModal()">Cancel</button>
  <button *ngIf="!editMode" nz-button nzType="primary" [nzLoading]="submitted" (click)="addLocation()">Add</button>
  <button *ngIf="editMode" nz-button nzType="primary" [nzLoading]="submitted" (click)="editLocation()">Save Changes</button>

</div>
