<landing-header></landing-header>
<!-- <p>home works!</p> -->
<div>
  <section class="search">
    <nz-input-group
      class="input"
      nzSearch
      [nzSize]="20"
      [nzPrefix]="prefixTemplateUser"
      [nzSuffix]="suffixButton"
    >
      <nz-select
        style="flex: 1"
        nzShowSearch
        nzServerSearch
        nzBorderless
        nzAllowClear
        [nzPlaceHolder]="searchPlaceHolder"
        [(ngModel)]="selectedValue"
        [nzShowArrow]="false"
        [nzFilterOption]="nzFilterOption"
        (nzOnSearch)="search($event)"
      >
        <nz-option *ngFor="let o of listOfOption" [nzLabel]="o.text" [nzValue]="o.value">
        </nz-option>
      </nz-select>
    </nz-input-group>
    <ng-template #prefixTemplateUser>
      <nz-select ngModel="Supplier">
        <nz-option nzValue="Supplier" nzLabel="Supplier"></nz-option>
        <nz-option nzValue="Product" nzLabel="Product"></nz-option>
      </nz-select>
      <!-- <i nz-icon nzType="search"></i> -->
    </ng-template>
    <ng-template #suffixButton>
      <button nz-button nzType="primary" nzSearch>Search</button>
    </ng-template>
  </section>
</div>
<div class="main">
  <div class="aside">
    <h3 class="aside__header">All Category</h3>
    <ul nz-menu nzMode="inline" style="width: 240px" nzTheme="ligth">
      <li nz-submenu nzOpen nzTitle="Food and Beverage" nzIcon="plus">
        <ul>
          <li nz-menu-item>Option 5</li>
          <li nz-menu-item>Option 6</li>
          <li nz-submenu nzTitle="Submenu">
            <ul>
              <li nz-menu-item>Option 7</li>
              <li nz-menu-item>Option 8</li>
            </ul>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Furniture" nzIcon="appstore">
        <ul>
          <li nz-menu-item>Option 5</li>
          <li nz-menu-item>Option 6</li>
          <li nz-submenu nzTitle="Submenu">
            <ul>
              <li nz-menu-item>Option 7</li>
              <li nz-menu-item>Option 8</li>
            </ul>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Baby Supplies" nzIcon="appstore">
        <ul>
          <li nz-menu-item>Option 5</li>
          <li nz-menu-item>Option 6</li>
          <li nz-submenu nzTitle="Submenu">
            <ul>
              <li nz-menu-item>Option 7</li>
              <li nz-menu-item>Option 8</li>
            </ul>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Vehicle and Accessiories" nzIcon="appstore">
        <ul>
          <li nz-menu-item>Option 5</li>
          <li nz-menu-item>Option 6</li>
          <li nz-submenu nzTitle="Submenu">
            <ul>
              <li nz-menu-item>Option 7</li>
              <li nz-menu-item>Option 8</li>
            </ul>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Consumer Electornics" nzIcon="appstore">
        <ul>
          <li nz-menu-item>Option 5</li>
          <li nz-menu-item>Option 6</li>
          <li nz-submenu nzTitle="Submenu">
            <ul>
              <li nz-menu-item>Option 7</li>
              <li nz-menu-item>Option 8</li>
            </ul>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Fashion and Beauty" nzIcon="setting">
        <ul>
          <li nz-menu-item>Option 9</li>
          <li nz-menu-item>Option 10</li>
          <li nz-menu-item>Option 11</li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="content">
    <div class="content__header">
      <h3 class="content__header-text">All Categories / Company Name</h3>
    </div>
    <div style="display: flex; justify-content: space-between; align-items: center">
      <div class="filters">
        <div class="filter">
          <span class="filter__lebel">Size:</span
          ><span
            ><input class="filter__input" nzSize="small" type="text" nz-input placeholder="filter"
          /></span>
        </div>
        <div class="filter">
          <span class="filter__lebel">Date:</span
          ><span class="filter__input"><nz-date-picker nzSize="small"></nz-date-picker></span>
        </div>
        <div class="filter">
          <span class="filter__lebel">Type:</span>
          <span class="filter__input">
            <nz-select nzSize="small" ngModel="type1">
              <nz-option nzValue="type1" nzLabel="type1"></nz-option>
              <nz-option nzValue="type2" nzLabel="type2"></nz-option>
              <nz-option nzValue="type3" nzLabel="type3"></nz-option>
            </nz-select>
          </span>
        </div>
      </div>
      <div class="sort">
        <div class="sort">
          <span class="sort__lebel">Sort By:</span>
          <span class="sort__input">
            <nz-select nzSize="small" ngModel="sort type 1">
              <nz-option nzValue="sort type 1" nzLabel="sort type 1"></nz-option>
              <nz-option nzValue="sort type 2" nzLabel="sort type 2"></nz-option>
              <nz-option nzValue="sort type 3" nzLabel="sort type 3"></nz-option>
            </nz-select>
          </span>
        </div>
      </div>
    </div>

    <div class="result__container">
      <app-product-home *ngFor="let product of products" [product]="product"></app-product-home>
    </div>
  </div>
</div>
