.login-form {
  max-width: 400px;
  margin:4rem auto;
  border: 1px solid #eee;
  box-shadow: 0 1px 3px #eee;
  padding: 3rem;
  font-size: 18px;
}

.header {
    text-align: center;
    padding:2rem 0;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
