<merchant-navigation></merchant-navigation>
<div class="main_container main_content_container">
  <div class="header_container">
    <h2 class="main_content_title">Batch Messages</h2>
    <button
      [disabled]="!authenticationService.userValue.sendBulk"
      (click)="addBulkMessage()"
      nz-button
      nzType="primary"
      nzShape="round"
      [title]="
        authenticationService.userValue.sendBulk
          ? 'Send Bulk Message'
          : 'Your account is not allowed to send bulk messages'
      "
    >
      New Bulk Message
      <i nz-icon nzType="plus"></i>
    </button>
  </div>
  <div
    nz-row
    [nzGutter]="[{ xs: 8, sm: 16, md: 24, lg: 32 }, 24]"
    style="justify-content: space-between"
  >
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" class="gutter-row sub_container">
      <div nz-row [nzGutter]="[{ xs: 8, sm: 16, md: 24, lg: 32 }, 24]">
        <div nz-col nzSpan="24" class="gutter-row">
          <div class="inner-box">
            <nz-table [nzShowPagination]="false" [nzData]="batches">
              <thead>
                <tr>
                  <th>Company Code</th>
                  <th>Message Content</th>
                  <th>Message Count</th>
                  <th>Category</th>
                  <th>Created</th>
                  <th>Options</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let batch of batches">
                  <td>
                    <span style="font-weight: bold; color: #555">{{ batch.companyCode }}</span>
                  </td>
                  <td style="max-width: 30rem">
                    <span nz-typography nzType="secondary">{{ batch?.message }}</span>
                  </td>
                  <td>
                    <span nz-typography nzType="secondary">{{ batch?.messagesCount }}</span>
                  </td>
                  <td>
                    <span nz-typography nzType="secondary">{{
                      getCategoryName(batch?.consumerCategoryId)
                    }}</span>
                  </td>

                  <td>
                    <span nz-typography nzType="secondary">{{ batch?.createdAt | date }}</span>
                  </td>
                  <th>
                    <button nz-button nz-dropdown [nzDropdownMenu]="actions">
                      Options
                      <i nz-icon nzType="down"></i>
                    </button>
                    <nz-dropdown-menu #actions="nzDropdownMenu">
                      <ul nz-menu>
                        <li (click)="showMessages(batch)" class="list_style" nz-menu-item>
                          Messages
                        </li>
                        <!-- <li (click)="showDetail(batch)" class="list_style" nz-menu-item>Detail</li> -->
                      </ul>
                    </nz-dropdown-menu>
                  </th>
                </tr>
              </tbody>
            </nz-table>
          </div>
        </div>
        <div nz-col nzSpan="24" class="gutter-row" style="text-align: right">
          <div class="inner-box">
            <nz-pagination
              [nzTotal]="count"
              [nzSize]="'small'"
              [nzShowTotal]="totalTemplate"
              (nzPageIndexChange)="pageChanged($event)"
              (nzPageSizeChange)="pageSizeChanged($event)"
              [nzPageSize]="pageSize"
              [nzPageIndex]="page + 1"
              nzShowSizeChanger
              nzShowQuickJumper
              [nzPageSizeOptions]="[5, 10, 20, 30, 40]"
            ></nz-pagination>
            <ng-template #totalTemplate let-total>Total {{ count }} items</ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
