<landing-header></landing-header>
<section class="main">
  <div class="headline">
    <span class="head">Discover Supplier in Addis</span>
    <nz-input-group nzSize="large" class="search" nzSearch [nzAddOnAfter]="suffixIconButton">
      <input nzSize="large" type="text" nz-input placeholder="Search for Product, Merchants..." />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
    </ng-template>
  </div>
  <div class="img__container">
    <img src="../../../../assets/img/undraw_Marketing_re_7f1g.svg" class="img" alt="" srcset="" />
  </div>
</section>


<section class="section-1">

  <div class="section-1__img">
    
    <!-- <img src="../../../../assets/img/undraw_observations_mejb.svg" class="img" alt="" srcset="" /> -->
  </div>

  <div class="box"  >
      <h3 class="box__header">Service</h3>
      <p>
          Luerem ibsum about the service about the service of jimla
          Luerem ibsum about the servicabout the service e of jimla
          Luerem ibsum about the servicabout the service e of jimla
          Luerem ibsum about the service of jimla
      </p>
  </div>
</section>

<section class="section-2">

  <div class="section-2__img">
    
    <!-- <img src="../../../../assets/img/undraw_observations_mejb.svg" class="img" alt="" srcset="" /> -->
  </div>

  <div class="box"  >
      <h3 class="box__header">Service</h3>
      <p>
          Luerem ibsum about the service about the service of jimla
          Luerem ibsum about the servicabout the service e of jimla
          Luerem ibsum about the servicabout the service e of jimla
          Luerem ibsum about the service of jimla
      </p>
  </div>
</section>
