<!-- <landing-header class="container" ></landing-header> -->
<nav class="navigation">
  <div routerLink="/landing" style="display: flex; align-items: center; cursor: pointer">
    <img src="assets/img/logo_white.png" alt="" class="navigation__logo" />
    <span
      style="
        font-family: 'Big Shoulders Stencil Text', cursive;
        font-size: 4rem;
        text-transform: uppercase;
        color: #fff;
        margin-left: 1rem;
      "
      >Jimla</span
    >
  </div>

  <div class="navigation__actions--mobile">
    <button
      nz-button
      [nzSize]="45"
      (click)="mobileDropdownOpen()"
      class="btn btn--jimla"
      style="color: #333"
      *ngIf="!authenticationService.userValue"
    >
      ምረጥ <i nz-icon nzType="caret-down" nzTheme="outline"></i>
    </button>

    <ul class="profile" *ngIf="open" nz-menu>
      <a
        style="width: 90%; align-self: center"
        (click)="mobileDropdownOpen()"
        routerLink="/landing/login"
        nz-button
        nzType="primary"
        class="btn small_side_margin-vr"
        >ግባ</a
      >
      <a
        style="width: 90%; align-self: center"
        (click)="mobileDropdownOpen()"
        routerLink="/landing/register"
        nz-button
        nzType="primary"
        class="btn small_side_margin-vr"
        >ለጅምላ ነጋዴ ተመዝገብ</a
      >

      <a
        style="width: 90%; align-self: center"
        (click)="mobileDropdownOpen()"
        routerLink="/landing/retailer_register"
        nz-button
        nzType="primary"
        class="btn small_side_margin-vr"
      >
        ለገዢ ተመዝገብ</a
      >
    </ul>
    <a
      style="width: 90%; align-self: center"
      (click)="mobileDropdownOpen()"
      *ngIf="guardC"
      routerLink="/retailer"
      class="btn btn--jimla"
      >Home</a
    >
  </div>

  <div class="navigation__actions">
    <a *ngIf="!authenticationService.userValue" routerLink="/landing/login" class="btn btn--jimla"
      >ለጅምላ ነጋዴ</a
    >
    <a
      *ngIf="!authenticationService.userValue"
      routerLink="/landing/login"
      nz-button
      nzType="info"
      class="btn small_side_margin"
      >ግባ</a
    >
    <a
      *ngIf="!authenticationService.userValue"
      routerLink="/landing/register"
      nz-button
      nzType="info"
      class="btn small_side_margin"
      >ተመዝገብ</a
    >

    <a
      *ngIf="!authenticationService.userValue"
      routerLink="/landing/retailer_register"
      nz-button
      nzType="info"
      class="btn small_side_margin"
    >
      ለገዢ ተመዝገብ</a
    >

    <a *ngIf="guardP" routerLink="/merchant" class="btn btn--jimla">Home</a>

    <a *ngIf="guardC" routerLink="/retailer" class="btn btn--jimla">Home</a>
    <a
      *ngIf="authenticationService.userValue && authenticationService.userValue.role == 'ADMIN'"
      routerLink="/jm-admin"
      class="btn btn--jimla"
      >Home</a
    >
  </div>
</nav>
<section class="main">
  <div class="headline">
    <span class="head">Discover Supplier in Addis</span>
    <div class="search">
      <!-- <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
        <input
          [formControl]="searchField"
          class="search__input"
          type="text"
          nz-input
          placeholder="Search for product,merchant"
        />
      </nz-input-group> -->

      <nz-input-group class="input" [nzSize]="20" [nzSuffix]="suffixButton">
        <input
          [formControl]="searchField"
          style="font-size: 1.6rem"
          nz-input
          placeHolder="Search supplier code, name, product"
          [(ngModel)]="q"
        />
      </nz-input-group>
      <ng-template #suffixButton>
        <button nz-button nzType="primary" (click)="onSubmit()" nzSize="large" nzSearch>
          Search
        </button>
      </ng-template>

      <!-- <button nz-button nzSize="large" nzType="primary" nzSearch>
        <i nz-icon nzType="search"></i>
      </button> -->
    </div>
  </div>
  <div class="img__container">
    <img src="../../../../assets/img/launching.svg" class="img" alt="" srcset="" />
  </div>
  <div class="custom-shape-divider-bottom-1604910778">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path
        d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
        class="shape-fill"
      ></path>
    </svg>
  </div>
</section>

<div class="headers">
  <h3 class="text">Seeing is Believing</h3>
  <p class="subtitle">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore et dolore magna aliqua. Ut enim ad minim veniam,
  </p>
</div>
<section class="background"></section>

<section class="section-2">
  <div class="box">
    <div class="box__header">
      <i nz-icon nzType="phone" nzTheme="fill"></i>
      <h3>Service</h3>
    </div>

    <p>
      Luerem ibsum about the service about the service of jimla Luerem ibsum about the servicabout
    </p>
  </div>
  <div class="box">
    <div class="box__header">
      <i nz-icon nzType="phone" nzTheme="fill"></i>
      <h3>IVR Calls</h3>
    </div>
    <p>
      Luerem ibsum about the service about the service of jimla Luerem ibsum about the servicabout
      the
    </p>
  </div>

  <div class="box">
    <div class="box__header">
      <i nz-icon nzType="mobile" nzTheme="fill"></i>
      <h3>Essay Access</h3>
    </div>
    <p>
      Luerem ibsum about the service about the service of jimla Luerem ibsum about the servicabout
      the
    </p>
  </div>
</section>

<section class="section-1">
  <div class="headers">
    <h3 class="text">Popular Compaines</h3>
  </div>

  <div class="companies">
    <nz-avatar
      class="logo"
      nzGap="6"
      nzText="Yes"
      nzSize="large"
      style="vertical-align: middle; background-color: rgb(80, 104, 131)"
    ></nz-avatar>

    <nz-avatar
      class="logo"
      nzGap="4"
      nzText="COMP"
      nzSize="large"
      style="vertical-align: middle; background-color: rgb(57, 96, 99)"
    ></nz-avatar>

    <nz-avatar
      class="logo"
      nzGap="4"
      nzText="PONER"
      nzSize="large"
      style="vertical-align: middle; background-color: rgb(89, 54, 153)"
    ></nz-avatar>
    <nz-avatar
      class="logo"
      nzGap="4"
      nzText="DOIUS"
      nzSize="large"
      style="vertical-align: middle; background-color: rgb(78, 110, 105)"
    ></nz-avatar>
    <nz-avatar
      class="logo"
      nzGap="4"
      nzText="TILTek"
      nzSize="large"
      style="vertical-align: middle; background-color: rgb(122, 115, 134)"
    ></nz-avatar>
    <nz-avatar
      class="logo"
      nzGap="4"
      nzText="DOIUS"
      nzSize="large"
      style="vertical-align: middle; background-color: rgb(78, 110, 105)"
    ></nz-avatar>
  </div>
</section>

<app-footer></app-footer>
