// .main-container {
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh;
// }
.content-container {
  flex: 1;
  // padding-bottom: $footer-height;
}
.footer-container {
  width: 100%;
  // height: $footer-height;
}
