.footer {
  display: flex;
  color: $color-white;

  &__primary {
    background-color: $color-footer-primary;
    height: 90%;
    justify-content: space-evenly;

    .footer__logo-text {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2rem 0;
      width: 30%;

      .ft-logo {
        width: 10rem;
        height: 10rem;
      }

      .logo-text {
        color: $color-white;
        font-size: 1.5rem;
        width: 60%;
      }
    }

    .footer__menu {
      flex: 1;
      justify-content: space-evenly;
      align-items: center;
      font-size: 1.3rem;
      // padding: 10rem 0;
    }
    .footer__social {
      padding: 0 2rem;
      justify-content: center;
      align-items: center;
      .fb-logo {
        width: 6rem;
        height: 6rem;
      }
    }
  }

  &__secondary {
    height: 10%;
    background-color: $color-black;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    justify-content: space-between;
    position: relative;
    z-index: 900;
    a {
      text-decoration: none;
      color: $color-white;

      &:first-child {
        margin-right: 0.3rem;
      }

      &:last-child {
        margin-left: 0.3rem;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
@media only screen and (min-width: 390px) {
  .footer__secondary {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 425px) {
  .footer__primary .footer__logo-text .ft-logo {
    width: 15rem;
    height: 15rem;
  }
  .footer__primary .footer__social {
    padding: 0 5rem;

    .fb-logo {
      width: 8rem;
      height: 8rem;
    }
  }
}

@media only screen and (min-width: 920px) {
  .footer__primary .footer__social {
    padding: 0 10rem;
  }
}
