<footer>
  <div class="logo">
    <img src="assets/img/jimla.png" routerLink="/home" alt="" width="150px" class="navigation__logo" />
  </div>

  <div class="">
    <h2>Service</h2>
    <ul>
      <li>Call for IVr One</li>
      <li>Web based system</li>
      <li>List mobile</li>
      <li>List One</li>
    </ul>
  </div>

  <div class="">
    <h2>Company</h2>
    <ul>
      <li>Company you </li>
      <li>Web based system</li>
      <li>List mobile</li>
      <li>List One</li>
    </ul>
  </div>

  <div class="">
    <h2>Company</h2>
    <ul>
      <li>Company you </li>
      <li>Web based system</li>
      <li>List mobile</li>
      <li>List One</li>
      <li>Company you </li>
      <li>Web based system</li>
      <li>List mobile</li>
      <li>List One</li>
    </ul>
  </div>

  
</footer>
