<landing-header></landing-header>
<div class="company_page">
  <div class="header">
    <h2 class="name">Company Name</h2>
    <h5 class="description">Lorem ipsum, dolor sit amet consectetur.</h5>
    <h6 class="address">Illo necessitatibus quod doloremque tenetur!</h6>
  </div>
  <div>
    <div class="content">
      <div class="content__header">
        <h3 class="content__header-text">Products</h3>
      </div>

      <div class="result__container">
        <app-company-small></app-company-small>
        <app-company-small></app-company-small>
        <app-company-small></app-company-small>
        <app-company-small></app-company-small>
        <app-company-small></app-company-small>
      </div>
    </div>
  </div>
</div>
