<landing-header></landing-header>
<!-- <div>
  <section class="search">
    <nz-input-group class="input" [nzSize]="20" [nzSuffix]="suffixButton">
      <input nz-input placeHolder="Search supplier code, name, product" [(ngModel)]="q" />
    </nz-input-group>
    <ng-template #suffixButton>
      <button nz-button nzType="primary" nzSearch>Search</button>
    </ng-template>
  </section>
</div> -->
<div class="company_page">
  <div class="header search">
    <h2 class="name">{{ merchant?.name }} : {{ merchantCode?.code }}</h2>
    <div style="width: 20rem; height: 0.5rem; margin-top: -1.5rem; background-color: #fff"></div>
    <h5 class="description">
      Tin No: {{ merchant?.tinNumber }}, Phone No: {{ merchant?.phoneNumber }}
    </h5>
    <h6 *ngIf="merchant?.Address?.city" class="address">
      {{ merchant?.Address?.city }}, {{ merchant?.Address?.subCity }},
      {{ merchant?.Address?.description }}
    </h6>
  </div>
  <div>
    <div class="content">
      <div class="content__header">
        <h3 class="content__header-text">Products</h3>
        <div>
          <nz-badge
            [nzCount]="cartProducts.length"
            nz-popover
            [nzPopoverContent]="contentTemplate"
            [nzPopoverVisible]="orderAdded"
            [nzPopoverTrigger]="null"
            [nzOffset]="[6, -2]"
            [nzShowZero]="true"
          >
            <a class="content__cart" (click)="showModalTop()">Order Cart Items</a>
          </nz-badge>
          <ng-template #contentTemplate
            ><i nz-icon nzType="check" style="margin-right: 1rem; color: green"></i
            ><span style="color: green">{{ popOverMessage }}</span></ng-template
          >
        </div>
      </div>

      <div *ngIf="products.length > 0" class="result__container">
        <div *ngFor="let p of products; let i = index" class="result__container__product">
          <app-product-small
            (addProductToCart)="addProductToCart($event)"
            *ngIf="i % 2 == 0"
            [product]="p"
          ></app-product-small>
          <app-product-small-image
            *ngIf="i % 2 == 1"
            [product]="p"
            (addProductToCart)="addProductToCart($event)"
          ></app-product-small-image>
        </div>
      </div>
      <div *ngIf="products.length == 0" class="result__container">
        <span>No Products For This Merchant Yet.</span>
      </div>
    </div>
  </div>
</div>

<nz-modal
  [nzStyle]="{ top: '20px' }"
  [(nzVisible)]="isVisibleTop"
  nzTitle="Pending Order Cart"
  nzOkText="Process"
  [nzCancelText]="null"
  (nzOnOk)="processOrder()"
  (nzOnCancel)="close()"
>
  <button
    *ngIf="cartProducts.length > 0"
    nz-button
    nzSize="small"
    (click)="clearCart()"
    style="position: absolute; right: 5rem; top: 1.8rem"
  >
    Clear Cart <i nz-icon nzType="clear" nzTheme="outline"></i>
  </button>
  <div *ngFor="let cp of cartProducts" style="display: flex; justify-content: space-between">
    <span style="font-size: 1.8rem; color: #555; font-weight: 600">{{ cp?.name }}</span
    ><span style="font-size: 1.5rem; color: #555; font-weight: 600">Amount: {{ cp?.amount }}</span>
  </div>
  <nz-empty
    nzNotFoundContent="No products. Add some to order."
    *ngIf="!cartProducts.length"
  ></nz-empty>
</nz-modal>

<ng-template #successMessage>
  <div style="color: green; font-size: 1.5rem">
    Order Successfully Created
    <i nz-icon nzType="check-circle" nzTheme="outline" class="margin_left"></i>
  </div>
  <!-- <button nz-button nzSize="small">Cut It!</button> -->
</ng-template>
