.company_page {
  display: flex;
  flex-direction: column;
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 16rem;
    padding: 2rem;
    color: #333;
    // background-image: url("../../../../assets/img/company_background.jpg");
    // background-repeat: no-repeat;
    // background-size: cover;
    // color: #fff;

    .name {
      font-size: 4rem;
      font-weight: 900;
    }

    .description {
      font-size: 2rem;
      font-weight: 600;
    }

    .address {
      font-size: 1.8rem;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 80%;
  &__header {
    padding: 2rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
  }
  &__header-text {
    font-size: 1.8rem;
    color: #333;
    font-weight: 600;
  }

  &__cart {
    font-size: 2rem;
  }

  .filters {
    padding: 1rem 2rem;
    display: flex;

    .filter {
      display: flex;
      align-items: center;
      margin: 0rem;
      margin-right: 1.5rem;

      .filter__lebel {
        font-size: 1.3rem;
        font-weight: 600;
        color: #555;
        margin-right: 1rem;
        text-transform: uppercase;
      }

      .filter__input {
        color: #555;
      }
    }
  }
}

.result {
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem 2rem;
    // justify-content: center;
    // &::after {
    //   content: "";
    //   flex: auto;
    // }
  }
}

.search {
  padding: 2rem;
  box-shadow: 0 1px 3px rgb(148, 148, 148);
  box-shadow: 0 2px 4px rgb(212, 212, 212);
  display: flex;
  align-items: center;

  background-color: #003241;
  .input {
    margin-left: 21%;
    max-width: 600px;
    align-self: left;
  }
}
::ng-deep .ant-badge-count {
  background-color: #003241;
}
