<admin-navigation></admin-navigation>
<div class="main_container main_content_container">
  <div class="header_container">
    <h2 class="main_content_title">Merchants</h2>
    <button (click)="filter()" nz-button nzType="primary" nzShape="round">
      FILTER
      <i nz-icon nzType="filter" nzTheme="outline"></i>
    </button>
  </div>
  <div class="header__filter" [class.header__filter--active]="filterActive">
    <div class="header__filter__item">
      <h3 class="header__filter__title">Upload Date</h3>
      <nz-divider></nz-divider>
      <nz-range-picker [(ngModel)]="date" (ngModelChange)="onDateChange($event)"></nz-range-picker>
    </div>
    <div class="header__filter__item">
      <h3 class="header__filter__title">Company Name</h3>
      <nz-divider></nz-divider>
      <input nz-input placeholder="Company name" [(ngModel)]="company" />
    </div>
    <div class="header__filter__item">
      <h3 class="header__filter__title">Code</h3>
      <nz-divider></nz-divider>
      <input nz-input placeholder="Code" type="number" [(ngModel)]="code" />
    </div>
    <div class="header__filter__item">
      <h3 class="header__filter__title">Status</h3>
      <nz-divider></nz-divider>
      <nz-select style="min-width: 10rem" [(ngModel)]="status">
        <nz-option nzValue="" nzLabel="All"></nz-option>
        <nz-option nzValue="PENDING" nzLabel="Pending"></nz-option>
        <nz-option nzValue="ACTIVE" nzLabel="Active"></nz-option>
        <nz-option nzValue="DISABLED" nzLabel="Disabled"></nz-option>
      </nz-select>
    </div>
    <div class="header__filter__item">
      <h3 class="header__filter__title">Type</h3>
      <nz-divider></nz-divider>
      <nz-select style="min-width: 10rem" [(ngModel)]="type">
        <nz-option nzValue="" nzLabel="All"></nz-option>
        <nz-option nzValue="NORMAL" nzLabel="Normal"></nz-option>
        <nz-option nzValue="FEATURED" nzLabel="Featured"></nz-option>
      </nz-select>
    </div>
    <div class="header__filter__item">
      <h3 class="header__filter__title">Apply Filter</h3>
      <nz-divider></nz-divider>
      <div style="display: flex">
        <button (click)="applyFilter()" nz-button nzType="primary" nzShape="round">
          APPLY FILTER
          <i nz-icon nzType="filter" nzTheme="outline"></i>
        </button>
        <button (click)="clearFilter()" nz-button nzType="link" nzShape="round">
          <i nz-icon nzType="clear" nzTheme="outline"></i>
        </button>
      </div>
    </div>
  </div>
  <div
    nz-row
    [nzGutter]="[{ xs: 8, sm: 16, md: 24, lg: 32 }, 24]"
    style="justify-content: space-between"
  >
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" class="gutter-row sub_container">
      <div nz-row [nzGutter]="[{ xs: 8, sm: 16, md: 24, lg: 32 }, 24]">
        <div nz-col nzSpan="24" class="gutter-row">
          <div class="inner-box">
            <nz-table [nzShowPagination]="false" [nzData]="merchants">
              <thead>
                <tr>
                  <th>Company Name</th>
                  <th>Code</th>
                  <th>TIN Number</th>
                  <th>Phone Number</th>
                  <th>Verified</th>
                  <th>Status</th>
                  <th>Balance</th>
                  <th>Type</th>
                  <th>Created</th>
                  <th>Options</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let merchant of merchants">
                  <td>
                    <span style="font-weight: bold; color: #555">{{ merchant.name }}</span>
                  </td>
                  <td>
                    <span nz-typography nzType="secondary">{{ merchant?.Code?.code }}</span>
                  </td>
                  <td>
                    <span nz-typography nzType="secondary">{{ merchant?.tinNumber }}</span>
                  </td>
                  <td>
                    <span nz-typography nzType="secondary">{{ merchant?.phoneNumber }}</span>
                  </td>
                  <td>
                    <span nz-typography nzType="secondary">
                      <label nz-checkbox [ngModel]="merchant?.verified" [nzDisabled]="true"></label
                    ></span>
                  </td>
                  <td>
                    <span nz-typography nzType="secondary">{{ merchant?.status }}</span>
                  </td>
                  <td>
                    <span nz-typography nzType="secondary">{{ merchant?.Balance?.value }}</span>
                  </td>
                  <td>
                    <span nz-typography nzType="secondary">{{ merchant?.compType }}</span>
                  </td>
                  <td>
                    <span nz-typography nzType="secondary">{{ merchant?.createdAt | date }}</span>
                  </td>
                  <th>
                    <button nz-button nz-dropdown [nzDropdownMenu]="actions">
                      Options
                      <i nz-icon nzType="down"></i>
                    </button>
                    <nz-dropdown-menu #actions="nzDropdownMenu">
                      <ul nz-menu>
                        <li
                          class="list_style"
                          (click)="getMerchantProducts(merchant.name)"
                          nz-menu-item
                        >
                          Products
                        </li>
                        <li class="list_style" (click)="showAddresses(merchant)" nz-menu-item>
                          Addresses
                        </li>
                        <li
                          (click)="getMerchantOrders(merchant.Code?.code)"
                          class="list_style"
                          nz-menu-item
                        >
                          Orders
                        </li>
                        <li
                          (click)="getMerchantMessages(merchant.Code?.code)"
                          class="list_style"
                          nz-menu-item
                        >
                          Messages
                        </li>
                        <li
                          (click)="getMerchantDeposits(merchant.id)"
                          class="list_style"
                          nz-menu-item
                        >
                          Deposits
                        </li>
                        <li
                          (click)="addMerchantDeposit(merchant.id)"
                          class="list_style"
                          nz-menu-item
                        >
                          Add Deposit
                        </li>
                        <li
                          class="list_style"
                          (click)="updateMerchantStatus(merchant)"
                          nz-menu-item
                        >
                          {{ merchant.verified ? "Refute" : "Verify" }}
                        </li>
                        <li
                          class="list_style"
                          (click)="updateMerchantCompanyType(merchant)"
                          nz-menu-item
                        >
                          <i
                            *ngIf="merchant.compType == 'NORMAL'"
                            nz-icon
                            nzType="plus"
                            nzTheme="outline"
                            style="color: #083443"
                          ></i
                          ><i
                            *ngIf="merchant.compType == 'FEATURED'"
                            nz-icon
                            nzType="delete"
                            nzTheme="outline"
                            style="color: red"
                          ></i
                          >Featured
                        </li>
                      </ul>
                    </nz-dropdown-menu>
                  </th>
                </tr>
              </tbody>
            </nz-table>
          </div>
        </div>
        <div nz-col nzSpan="24" class="gutter-row" style="text-align: right">
          <div class="inner-box">
            <nz-pagination
              [nzTotal]="count"
              [nzSize]="'small'"
              [nzShowTotal]="totalTemplate"
              (nzPageIndexChange)="pageChanged($event)"
              (nzPageSizeChange)="pageSizeChanged($event)"
              [nzPageSize]="pageSize"
              [nzPageIndex]="page + 1"
              nzShowSizeChanger
              nzShowQuickJumper
              [nzPageSizeOptions]="[5, 10, 20, 30, 40]"
            ></nz-pagination>
            <ng-template #totalTemplate let-total>Total {{ count }} items</ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
