.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 1px 3px rgb(148, 148, 148);
  box-shadow: 0 2px 4px rgb(212, 212, 212);

  @media (min-width: 800px) {
    padding: 0.1rem 2rem; // Desktop view
  }
  // background-color: #d98e46;
  &__logo {
    height: 5rem;
    cursor: pointer;
  }

  .btn {
    padding: 0 1rem;
  }

  .search {
    padding: 2rem;
    width: 600px;
  }
}

.small_side_margin {
  margin: 0rem 0.5rem;
}
