.wrapper {
  // width: 80px;
  height: 100vh;
  top: 7.6rem;
  position: absolute;
  z-index: 200;

  @media screen and (min-width: 800px) {
    top: 5.6rem;
  }
  // box-shadow: 3px 0px 10px #c2d1da;
  &__logo {
    height: 40px;
  }

  &__logo-container {
    top: -2px;
    left: 75px;
    position: absolute;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: unset;
    border-radius: 0.3rem;
    height: 3rem;
    width: 3rem;
  }

  &__button-open {
    right: -23px;
  }

  &__button-icon {
    font-size: 2rem;
  }
}

.wrapper-collapse {
  width: auto;
}

.ant-menu-root.ant-menu-inline,
.ant-menu-inline-collapsed {
  height: 100vh;
}

li {
  &:focus {
    border: none;
    outline: none;
  }
}

button {
  margin-bottom: 8px;
}

::ng-deep .ant-menu-inline {
  width: 240px;
}

::ng-deep .ant-menu-inline-collapsed {
  width: 0px;
  overflow: hidden;
}

::ng-deep .ant-menu {
  margin-top: 0.5rem;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 1px 3px rgb(148, 148, 148);
  box-shadow: 0 2px 4px rgb(212, 212, 212);

  @media (min-width: 800px) {
    padding: 0rem 2rem; // Desktop view
  }

  // background-color: #d98e46;
  &__logo {
    height: 5rem;
    cursor: pointer;
  }

  .btn {
    padding: 0 1rem;
  }

  .search {
    padding: 2rem;
    width: 600px;
  }
}
.profile {
  border-radius: 10px;
  border: none;
  font-size: 1.6rem;
  z-index: 100;
  .item {
    border-bottom: 1px solid #ddd;
  }
}

::ng-deep .ant-popover-inner {
  border-radius: 1rem;
}
