<merchant-navigation></merchant-navigation>
<div class="main_container main_content_container">
  <h2 class="main_content_title">Process Voice Orders</h2>
  <div
    nz-row
    [nzGutter]="[{ xs: 8, sm: 16, md: 24, lg: 32 }, 24]"
    style="justify-content: space-between"
  >
    <div
      id="process_orders"
      nz-col
      [nzXs]="24"
      [nzSm]="24"
      [nzMd]="12"
      class="gutter-row sub_container"
      style="position: relative"
    >
      <div nz-row [nzGutter]="[{ xs: 8, sm: 16, md: 24, lg: 32 }, 24]">
        <div nz-col nzSpan="24" class="gutter-row">
          <div class="inner-box"><div class="header__title">Process Order</div></div>
        </div>
      </div>

      <div nz-row [nzGutter]="[{ xs: 8, sm: 16, md: 24, lg: 32 }, 24]">
        <div nz-col nzSpan="24" class="gutter-row">
          <div class="inner-box">
            <nz-divider nzDashed nzText="Retailer"></nz-divider>
            <div class="retailer">
              <div>
                <div class="retailer__name">{{ address?.company_name }}</div>
              </div>
              <div class="retailer__sub">
                <div class="retailer__created">
                  Ordered: <i nz-icon nzType="clock-circle" class="margin_right"></i
                  ><span nz-typography nzType="secondary">{{ orderGroup.createdAt | date }}</span>
                </div>
                <!-- <div class="retailer__phonenumber">
                  Phone: <i nz-icon nzType="phone" class="margin_right"></i
                  ><span nz-typography nzType="secondary"> {{ address?.phone_number }}</span>
                </div> -->
              </div>
            </div>
            <nz-divider nzDashed nzText="Merchant"></nz-divider>
            <div class="merchant">
              <div class="merchant__name">{{ merchant.name }}</div>
              <div class="merchant__code">
                Code: <span nz-typography nzType="secondary">{{ merchant.code }}</span>
              </div>
            </div>
            <nz-divider nzDashed nzText="Audio File"></nz-divider>
            <div class="audio">
              <audio controls class="audio__player">
                <source [src]="orderGroup.audioLink" type="audio/mpeg" />
                Your browser does not support the audio element.
              </audio>
            </div>
            <nz-divider nzDashed nzText="Ordered Products"></nz-divider>
          </div>
        </div>
      </div>
      <div nz-row [nzGutter]="[{ xs: 8, sm: 16, md: 24, lg: 32 }, 24]">
        <div nz-col nzSpan="24" class="gutter-row">
          <div class="inner-box">
            <button
              [disabled]="leftDisabled"
              class="fill_width center_text"
              nz-button
              nzType="primary"
              (click)="showModal()"
            >
              Add Product <i nz-icon nzType="plus-circle" class="margin_left"></i>
            </button>
            <nz-modal
              [(nzVisible)]="isVisible"
              [nzTitle]="modalTitle"
              [nzContent]="modalContent"
              [nzFooter]="modalFooter"
              (nzOnCancel)="handleCancel()"
              nzWidth="34rem"
            >
              <ng-template #modalTitle> Add Product Order </ng-template>

              <ng-template #modalContent>
                <div nz-row [nzGutter]="[{ xs: 8, sm: 16, md: 24, lg: 32 }, 8]">
                  <div nz-col nzSpan="24" class="gutter-row">
                    <div class="inner-box">
                      <nz-select
                        class="fill_width"
                        nzShowSearch
                        nzAllowClear
                        nzPlaceHolder="Select Product"
                        [(ngModel)]="selectedProduct"
                      >
                        <nz-option
                          *ngFor="let product of products"
                          nzCustomContent
                          [nzLabel]="product.name"
                          [nzValue]="product.name"
                          ><i nz-icon nzType="borderless-table" class="margin_right"></i>
                          {{ product.name }}</nz-option
                        >
                      </nz-select>
                    </div>
                  </div>
                  <div *ngIf="selectedProduct" nz-col nzSpan="24" class="gutter-row">
                    <div class="inner-box">
                      <nz-input-number
                        class="fill_width"
                        [(ngModel)]="quantity"
                        [nzMin]="1"
                        [nzStep]="1"
                        [nzPlaceHolder]="'Enter Amount'"
                      ></nz-input-number>
                    </div>
                  </div>
                </div>
              </ng-template>

              <ng-template #modalFooter>
                <button nz-button nzType="default" (click)="handleCancel()">Cancle</button>
                <button nz-button nzType="primary" (click)="handleAdd()">
                  Add <i nz-icon nzType="plus-circle" class="margin_left"></i>
                </button>
              </ng-template>
            </nz-modal>
          </div>
        </div>
        <div nz-col nzSpan="24" class="gutter-row">
          <div class="inner-box">
            <nz-table [nzShowPagination]="false" [nzData]="selectedProducts">
              <thead>
                <tr>
                  <th>Code</th>
                  <th>Name</th>
                  <th>Quantity</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of selectedProducts">
                  <td>{{ data.id }}</td>
                  <td>{{ data.name }}</td>
                  <td>{{ data.quantity }}</td>
                  <th style="text-align: center" style="text-align: center">
                    <button
                      (click)="editProduct(data)"
                      nz-button
                      nzType="text"
                      style="color: #001427"
                    >
                      <i nz-icon nzType="edit"></i>
                    </button>
                  </th>
                  <th style="text-align: center">
                    <button
                      (click)="deleteProduct(data)"
                      nz-button
                      nzType="text"
                      style="color: #001427"
                    >
                      <i nz-icon nzType="delete"></i>
                    </button>
                  </th>
                </tr>
              </tbody>
            </nz-table>
          </div>
        </div>
      </div>
      <div nz-row [nzGutter]="[{ xs: 8, sm: 16, md: 24, lg: 32 }, 24]">
        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12" class="gutter-row">
          <div class="inner-box">
            <button
              (click)="goBack()"
              [disabled]="leftDisabled"
              class="fill_width"
              nz-button
              nzType="primary"
            >
              Cancel
            </button>
          </div>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12" class="gutter-row">
          <div class="inner-box">
            <button
              [disabled]="leftDisabled"
              (click)="continue()"
              class="fill_width"
              nz-button
              nzType="primary"
            >
              Continue
            </button>
          </div>
        </div>
      </div>
      <div
        *ngIf="leftDisabled"
        style="
          position: absolute;
          top: 7rem;
          left: 0;
          right: 0;
          bottom: 0;
          cursor: not-allowed;
          background-color: rgb(170 170 170 / 18%);
        "
      ></div>
    </div>

    <!-- Right side start 
    --
    --
    -->
    <div
      id="order_produts"
      nz-col
      [nzXs]="24"
      [nzSm]="24"
      [nzMd]="12"
      class="gutter-row sub_container"
      style="position: relative"
    >
      <div nz-row [nzGutter]="[{ xs: 8, sm: 16, md: 24, lg: 32 }, 24]">
        <div nz-col nzSpan="24" class="gutter-row">
          <div class="inner-box"><div class="header__title">Ordered Products</div></div>
        </div>
      </div>
      <nz-divider nzDashed nzText="Audio File"></nz-divider>
      <div class="audio">
        <audio controls class="audio__player">
          <source [src]="orderGroup.audioLink" type="audio/mpeg" />
          Your browser does not support the audio element.
        </audio>
      </div>
      <div nz-row [nzGutter]="[{ xs: 8, sm: 16, md: 24, lg: 32 }, 24]">
        <div nz-col nzSpan="24" class="gutter-row">
          <div class="inner-box">
            <nz-table [nzShowPagination]="false" [nzData]="selectedProductsOrders">
              <thead>
                <tr>
                  <th>Code</th>
                  <th>Name</th>
                  <th>Quantity</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of selectedProductsOrders">
                  <td>{{ data.id }}</td>
                  <td>{{ data.name }}</td>
                  <td>{{ data.quantity }}</td>
                </tr>
              </tbody>
            </nz-table>
          </div>
        </div>
      </div>
      <div nz-row [nzGutter]="[{ xs: 8, sm: 16, md: 24, lg: 32 }, 24]">
        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12" class="gutter-row">
          <div class="inner-box">
            <button
              (click)="back()"
              class="fill_width"
              nz-button
              nzType="primary"
              [disabled]="!leftDisabled"
            >
              Back
            </button>
          </div>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12" class="gutter-row">
          <div class="inner-box">
            <button
              (click)="submitOrder()"
              class="fill_width"
              nz-button
              nzType="primary"
              [disabled]="!leftDisabled"
            >
              Submit Order
            </button>
          </div>
        </div>
      </div>
      <div
        *ngIf="!leftDisabled"
        style="
          position: absolute;
          top: 7rem;
          left: 0;
          right: 0;
          bottom: 0;
          cursor: not-allowed;
          background-color: rgb(170 170 170 / 18%);
        "
      ></div>
    </div>
  </div>
</div>

<ng-template #successMessage>
  <div style="color: green; font-size: 1.5rem">
    Order Successfully Created
    <i nz-icon nzType="check-circle" nzTheme="outline" class="margin_left"></i>
  </div>
</ng-template>
