<div class="company">
  <span class="company__header">BGI Ethiopia</span>
  <div class="content">
    <div class="content__cover">
      <img
        src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png"
        alt=""
        srcset=""
      />
    </div>
    <div>
      <h4>New Products</h4>
      <nz-badge nzStandalone [nzCount]="25"></nz-badge>
      <nz-badge
        nzStandalone
        [nzCount]="4"
        [nzStyle]="{ backgroundColor: '#fff', color: '#999', boxShadow: '0 0 0 1px #d9d9d9 inset' }"
      ></nz-badge>
      <nz-badge nzStandalone [nzCount]="109" [nzStyle]="{ backgroundColor: '#52c41a' }"></nz-badge>
    </div>
    <div class="content__products">
      <nz-card style="width: 155px" [nzCover]="coverTemplate">
        <nz-card-meta nzTitle="Card title"></nz-card-meta>
      </nz-card>
      <ng-template #coverTemplate>
        <img
          alt="example"
          src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png"
        />
      </ng-template>
    </div>
  </div>
</div>
