.img-upload{
    display: flex;
    margin:4rem 1rem;
    align-items: flex-start;
    justify-content:center;
}
.avatar-uploader{
    width: 5rem;
    min-width: 12rem;
}

span{
    color:rgb(147, 157, 163);
    display: block;
}